    <div id='content'>

      <div id='calories'> 
        <div style='margin-bottom:25px'>
          Your daily calorie needs: <input type='text' ng:model='calories'> (calculated <a href='http://www.veganpeace.com/nutrient_information/recommended_values/dri_energy.htm' target='_blank'>here</a>)
        </div>
      </div>


      <div id='food-selection'>
        <div id='saved-plans'>
          <div class='plan' ng:repeat='(name, plan) in saved_plans'>
            <div ng:click='loadPlan(plan)' class='typicn previous'></div>
            <div>{{ name }}</div>
            <div ng:click='removePlan(name)' class='typicn minus'></div>
          </div>
        </div>

        <select ui-select2="{minimumInputLength:1,placeholder:'Select a Food'}" ui-event="{change:'foodSelect()'}" style='width:300px'>
          <option></option>
          <option ng:repeat='food in food'>{{ food.name }}</option>
        </select>
        <div ng:click='addFood()' class='typicn plus one'></div>

        <div id='food'>
          <div class='food' ng:repeat='food in selected_food'>
            <span>({{ food.servings }}) {{ food.name }} - {{ food['Serving Size'] }}</span>
            <div ng:click='removeFood(food)' class='typicn minus'></div>
            <div ng:click='addServing(food)' class='typicn plus two'></div>
          </div>
          <button ng:click='save()' ng:show='itemsExist()'>Save</button>
          <button ng:click='clear()'>Clear</button>
        </div>
      </div>

      <table>
        <tr>
          <th>Calories (kcal)</th>
          <th ng:repeat='nutrient in nutrients1'>{{ nutrient }}</th>
        </tr>
        <tr>
          <td class='status'>
            <div class='content' ng:class="nutrientStatus('Calories (kcal)')">
              <span ng:bind="calculate('Calories (kcal)')"></span> / <span ng:bind='calories'></span>
            </div>
          </td>
          <td ng:repeat='nutrient in nutrients1' class='status'>
            <div class='content' ng:class="nutrientStatus(nutrient)">
              <span ng:bind='calculate(nutrient)'></span>
              <span ng:bind='separator(nutrient)' class='separator'></span>
              <span ng:bind='calculate_total(nutrient)'></span>
            </div>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th ng:repeat='nutrient in nutrients2'>{{ nutrient }}</th>
        </tr>
        <tr>
          <td ng:repeat='nutrient in nutrients2' class='status'>
            <div class='content' ng:class="nutrientStatus(nutrient)">
              <span ng:bind='calculate(nutrient)'></span>
              <span ng:bind='separator(nutrient)' class='separator'></span>
              <span ng:bind='calculate_total(nutrient)'></span>
            </div>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th ng:repeat='nutrient in nutrients3'>{{ nutrient }}</th>
        </tr>
        <tr>
          <td ng:repeat='nutrient in nutrients3' class='status'>
            <div class='content' ng:class="nutrientStatus(nutrient)">
              <span ng:bind='calculate(nutrient)'></span>
              <span ng:bind='separator(nutrient)' class='separator'></span>
              <span ng:bind='calculate_total(nutrient)'></span>
            </div>
          </td>
        </tr>
      </table>

    </div>

