body {
  background: url(../images/scribble_light.png); }

.modal {
  display: none; }

#content {
  text-align: center; }
  #content #calories {
    margin-left: -63px; }
  #content #food-selection {
    width: 768px;
    position: relative;
    margin: auto; }
    #content #food-selection #saved-plans {
      position: absolute;
      right: -75px;
      text-align: left; }
      #content #food-selection #saved-plans .plan {
        position: relative; }
        #content #food-selection #saved-plans .plan .typicn {
          position: absolute; }
          #content #food-selection #saved-plans .plan .typicn.previous {
            top: 2px;
            left: -30px; }
          #content #food-selection #saved-plans .plan .typicn.minus {
            top: 0px;
            left: -20px; }
    #content #food-selection #food {
      margin-top: 15px; }
      #content #food-selection #food .food {
        display: display-block; }
  #content .typicn {
    display: inline-block;
    cursor: pointer; }
    #content .typicn.plus.one {
      margin: 6px -40px 0 6px; }
    #content .typicn.plus.two {
      position: absolute;
      margin: 1px 0 0 20px; }
    #content .typicn.minus {
      position: absolute;
      margin: 2px; }
  #content table {
    width: 80%;
    margin: 40px auto; }
    #content table td {
      text-align: center; }
      #content table td .separator {
        font-size: 0.9em; }
      #content table td.status .content {
        position: relative;
        background: url(../images/pool_table.png);
        z-index: -1;
        padding: 9px; }
        #content table td.status .content:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1; }
        #content table td.status .content.done:after {
          background-color: rgba(123, 224, 180, 0.5); }
        #content table td.status .content.close:after {
          background-color: rgba(255, 224, 66, 0.6); }
        #content table td.status .content.insufficient:after {
          background-color: rgba(255, 51, 51, 0.6); }
